.header-text {
    font-size: 38px;
    font-weight: bold;
    color: white;
    padding-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 

  

  
  